<li class="slds-expression__row">
  <fieldset>
    <legend class="slds-expression__legend">
      <span class="slds-assistive-text">Condition 1</span>
    </legend>
    <div class="slds-grid slds-gutters_xx-small">
      <div class="slds-col">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="combobox-id-155">Resource</label>
          <div class="slds-form-element__control">
            <div class="slds-combobox_container">
              <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                  <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-id-155" aria-controls="listbox-id-149" autoComplete="off" role="textbox" placeholder="Select an Option" readonly="" value="Resource 1"
                  />
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                  </span>
                </div>
                <div id="listbox-id-149" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <li role="presentation" class="slds-listbox__item">
                      <div aria-selected="true" id="listbox-option-id-649" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected slds-has-focus" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon">
                          <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                          </span>
                        </span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 1">
                            <span class="slds-assistive-text">Current Selection:</span> Resource 1</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-650" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 2"> Resource 2</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-651" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 3"> Resource 3</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-652" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 4"> Resource 4</span>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-col slds-grow-none">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="combobox-id-156">Operator</label>
          <div class="slds-form-element__control">
            <div class="slds-combobox_container">
              <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                  <input type="text" class="slds-input slds-combobox__input" id="combobox-id-156" aria-controls="listbox-id-150" autoComplete="off" role="textbox" placeholder="Select an Option" readonly="" />
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                  </span>
                </div>
                <div id="listbox-id-150" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-653" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Equals"> Equals</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-654" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Does Not Equal"> Does Not Equal</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-655" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Greater Than"> Greater Than</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-656" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Less Than"> Less Than</span>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-col">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="text-input-id-56">Value</label>
          <div class="slds-form-element__control">
            <input type="text" id="text-input-id-56" class="slds-input" />
          </div>
        </div>
      </div>
      <div class="slds-col slds-grow-none">
        <div class="slds-form-element">
          <span class="slds-form-element__label"> </span>
          <div class="slds-form-element__control">
            <button class="slds-button slds-button_icon slds-button_icon-border-filled" title="Delete Condition 1">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
              </svg>
              <span class="slds-assistive-text">Delete Condition 1</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</li>

<li class="slds-expression__row">
  <fieldset>
    <legend class="slds-expression__legend">
      <span>AND</span>
      <span class="slds-assistive-text">Condition 2</span>
    </legend>
    <div class="slds-grid slds-gutters_xx-small">
      <div class="slds-col">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="combobox-id-165">Resource</label>
          <div class="slds-form-element__control">
            <div class="slds-combobox_container">
              <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                  <input type="text" class="slds-input slds-combobox__input" id="combobox-id-165" aria-controls="listbox-id-159" autoComplete="off" role="textbox" placeholder="Select an Option" readonly="" />
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                  </span>
                </div>
                <div id="listbox-id-159" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-691" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 1"> Resource 1</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-692" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 2"> Resource 2</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-693" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 3"> Resource 3</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-694" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Resource 4"> Resource 4</span>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-col slds-grow-none">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="combobox-id-166">Operator</label>
          <div class="slds-form-element__control">
            <div class="slds-combobox_container">
              <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                  <input type="text" class="slds-input slds-combobox__input" id="combobox-id-166" aria-controls="listbox-id-160" autoComplete="off" role="textbox" placeholder="Select an Option" readonly="" />
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                  </span>
                </div>
                <div id="listbox-id-160" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-695" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Equals"> Equals</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-696" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Does Not Equal"> Does Not Equal</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-697" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Greater Than"> Greater Than</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-698" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Less Than"> Less Than</span>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-col">
        <div class="slds-form-element slds-has-error">
          <label class="slds-form-element__label" for="text-input-id-60">Value</label>
          <div class="slds-form-element__control">
            <input type="text" id="text-input-id-60" aria-describedby="error-message-unique-id" class="slds-input" />
          </div>
          <div class="slds-form-element__help" id="error-message-unique-id">This field is required.</div>
        </div>
      </div>
      <div class="slds-col slds-grow-none">
        <div class="slds-form-element">
          <span class="slds-form-element__label"> </span>
          <div class="slds-form-element__control">
            <button class="slds-button slds-button_icon slds-button_icon-border-filled" title="Delete Condition 2">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
              </svg>
              <span class="slds-assistive-text">Delete Condition 2</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</li>