<div class="no-preview">
    <div>
      <span class="slds-icon_container slds-icon-standard-address slds-m-right_x-small">
        <svg class="slds-icon slds-icon_small" aria-hidden="true">
          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#address">
          </use>
        </svg>
      </span>
      <div class="slds-text-heading_small  slds-truncate">Address</div>
    </div>
    <p class="slds-text-body_small slds-text-color_weak">No preview is available for this component.</p>
  </div>