<div class="slds-form-element">
  <h1 class="slds-text-heading--medium">📺  Display controls</h1>
  <label class="slds-form-element__label" for="#value-changer">Change text label value</label>
  <div class="slds-form-element__control"><div class="slds-combobox_container">
    <div class="slds-combobox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
      <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
        <input class="slds-input slds-combobox__input slds-combobox__input-value" id="value-changer" aria-autocomplete="list" aria-controls="stacked-listbox-id-01" autocomplete="off" role="textbox" type="text" placeholder="Enter text...">
        <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" id="clear_value" title="Clear the text input">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear"></use>
          </svg><span class="slds-assistive-text">Clear the text input</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<!-- Color Options -->
<div class="slds-form-element">
  <div class="slds-form-element__control">
    <span class="slds-form-element__legend slds-form-element__label">🎨 Color Options</span>
    <div class="slds-form-element__control">
      <div class="slds-checkbox">
        <input type="checkbox" name="options" id="checkbox-color" value="checkbox-color" />
        <label class="slds-checkbox__label" for="checkbox-color">
          <span class="slds-checkbox_faux"></span>
          <span class="slds-form-element__label">Darken body</span>
        </label>
      </div>
      <div class="slds-checkbox">
        <input type="checkbox" name="options" id="checkbox-search" value="checkbox-search" />
        <label class="slds-checkbox__label" for="checkbox-search">
          <span class="slds-checkbox_faux"></span>
          <span class="slds-form-element__label">Search style</span>
        </label>
      </div>
    </div>
  </div>
</div>
<!-- // Color Options -->
<br>
<!-- text alignement -->
<fieldset class="slds-form-element alignment">
  <legend class="slds-form-element__legend slds-form-element__label">📝 Text Alignment</legend>
  <div class="slds-form-element__control">
    <span class="slds-radio">
      <input type="radio" id="left" name="options" value="left" />
      <label class="slds-radio__label" for="left">
        <span class="slds-radio_faux"></span>
        <span class="slds-form-element__label">Left</span>
      </label>
    </span>
    <span class="slds-radio">
      <input type="radio" id="center" name="options" value="center" />
      <label class="slds-radio__label" for="center">
        <span class="slds-radio_faux"></span>
        <span class="slds-form-element__label">Center</span>
      </label>
    </span>
    <span class="slds-radio">
      <input type="radio" id="justify" name="options" value="justify" />
      <label class="slds-radio__label" for="justify">
        <span class="slds-radio_faux"></span>
        <span class="slds-form-element__label">Justified</span>
      </label>
    </span>
  </div>
</fieldset>
<!-- //text alignement -->
