<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Click to Create Menu</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <script src="scripts/vendor/clamp.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <meta name="robots" content="noindex, nofollow" />
  <meta charset='utf-8'>
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container_x-large">
    <h1 class="slds-text-heading--large">Click to Create Menu</h1>
    <p class="slds-text-body--regular slds-m-bottom--large">Menu and actions for Click to Create Menus.</p>
    <hr>

    <!-- c2cmenu -->
    <div class="slds-grid">
      <div class="slds-col slds-size_2-of-6">
        <p class="slds-text-heading_small slds-text-align_center">Click to Create Vision</p> <br>
        <div class="slds-dropdown-trigger slds-dropdown-trigger_click c2c-menu c2c-element-menu" style="left:50%;">
          <button class="slds-button slds-button_icon-small slds-button_icon-border-filled c2c" aria-haspopup="true" title="Show More">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg>
            <span class="slds-assistive-text">Show More</span>
            <span class="target-area"></span>
          </button>
          <div class="slds-dropdown">
            <div class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
              <h3 class="slds-m-vertical_small slds-text-heading_small">Add Element</h3>
              <div class="slds-form-element__control">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                  <input type="text" class="slds-input slds-combobox__input" id="combobox-id-3" aria-controls="listbox-id-4" autoComplete="off" role="textbox" placeholder="Search elements..." />
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                    </svg>
                  </span>
                </div>  
              </div>
            </div>
            <ul class="slds-dropdown__divst" role="menu" aria-label="Show More">
              <li class="slds-dropdown__item slds-has-submenu" role="presentation" >
                <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                  <span class="slds-media__figure slds-listbox__option-icon">
                    <span class="slds-icon_container slds-icon-standard-screen">
                      <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#screen"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">User Interaction</span>
                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Screens for capturing input</span>
                  </span>
                  <span class="slds-icon_container slds-icon-utility-chevronright slds-align-middle" title="Has further options">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Has further options</span>
                  </span>
                </a>
                <div class="slds-dropdown slds-dropdown_small slds-dropdown_submenu slds-dropdown_submenu-right">
                  <ul class="slds-dropdown__list" role="menu" aria-label="Menu Item Three">
                    <li class="slds-dropdown__item" role="presentation">
                      <a href="javascript:void(0);" role="menuitem" tabindex="0">
                        <span class="slds-truncate" title="Submenu Item One">Submenu Item One</span>
                      </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                      <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                        <span class="slds-truncate" title="Submenu Item Two">Submenu Item Two</span>
                      </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                      <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                        <span class="slds-truncate" title="Submenu Item Three">Submenu Item Three</span>
                      </a>
                    </li>
                    <li class="slds-has-divider_top-space" role="separator"></li>
                    <li class="slds-dropdown__item" role="presentation">
                      <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                        <span class="slds-truncate" title="Submenu Item Four">Submenu Item Four</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="slds-dropdown__item slds-has-submenu" role="presentation" >
                <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                  <span class="slds-media__figure slds-listbox__option-icon">
                    <span class="slds-icon_container slds-icon-standard-screen">
                      <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#screen"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">User Interaction</span>
                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Screens for capturing input</span>
                  </span>
                  <span class="slds-icon_container slds-icon-utility-chevronright slds-align-middle" title="Has further options">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Has further options</span>
                  </span>
                </a>
              </li>
              <li class="slds-dropdown__item slds-has-submenu" role="presentation" >
                <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                  <span class="slds-media__figure slds-listbox__option-icon">
                    <span class="slds-icon_container slds-icon-standard-screen">
                      <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#screen"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">User Interaction</span>
                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Screens for capturing input</span>
                  </span>
                  <span class="slds-icon_container slds-icon-utility-chevronright slds-align-middle" title="Has further options">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Has further options</span>
                  </span>
                </a>
              </li>
              <li class="slds-dropdown__item slds-has-submenu" role="presentation" >
                <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                  <span class="slds-media__figure slds-listbox__option-icon">
                    <span class="slds-icon_container slds-icon-standard-screen">
                      <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#screen"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">User Interaction</span>
                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Screens for capturing input</span>
                  </span>
                  <span class="slds-icon_container slds-icon-utility-chevronright slds-align-middle" title="Has further options">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Has further options</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- //col -->
      <div class="slds-col slds-size_2-of-6">
        <p class="slds-text-heading_small slds-text-align_center">Click to Create MVP</p><br>
        <div class="slds-dropdown-trigger slds-dropdown-trigger_click c2c-menu" style="left:50%;">
          <button class="slds-button slds-button_icon-small slds-button_icon-border-filled c2c" aria-haspopup="true" title="Show More">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg>
            <span class="slds-assistive-text">Show More</span>
            <span class="target-area"></span>
          </button>
          <div class="slds-dropdown">
            <div class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
              <h3 class="slds-m-vertical_small slds-text-heading_small">Add Element</h3>
              <div class="slds-form-element__control">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                  <input type="text" class="slds-input slds-combobox__input" id="combobox-id-3" aria-controls="listbox-id-4" autoComplete="off" role="textbox" placeholder="Search elements..." />
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                    </svg>
                  </span>
                </div>  
              </div>
            </div>
            <div class="slds-scrollable_y" style="height:16rem;">
              <ul class="slds-listbox slds-listbox_vertical" role="group" aria-label="Group One">
                <li class="slds-dropdown__item" role="presentation" >
                  <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                    <span class="slds-media__figure slds-listbox__option-icon">
                      <span class="slds-icon_container slds-icon-standard-lightning-component">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#record"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="slds-media__body">
                      <span class="slds-listbox__option-text slds-listbox__option-text_entity">Paste</span>
                      <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Paste copied element(s)</span>
                    </span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                  <span>Interaction</span>
                </li>
                <li class="slds-dropdown__item" role="presentation" >
                  <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                    <span class="slds-media__figure slds-listbox__option-icon">
                      <span class="slds-icon_container slds-icon-standard-screen">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#screen"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="slds-media__body">
                      <span class="slds-listbox__option-text slds-listbox__option-text_entity">Screen</span>
                      <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Screens for capturing input</span>
                    </span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation" >
                  <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                    <span class="slds-media__figure slds-listbox__option-icon">
                      <span class="slds-icon_container slds-icon-standard-screen">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#screen"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="slds-media__body">
                      <span class="slds-listbox__option-text slds-listbox__option-text_entity">Screen</span>
                      <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Screens for capturing input</span>
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="slds-listbox slds-listbox_vertical" role="group" aria-label="Group One">
                <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                  <span>Flow Control</span>
                </li>
                <li class="slds-dropdown__item" role="presentation" >
                  <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                    <span class="slds-media__figure slds-listbox__option-icon">
                      <span class="slds-icon_container slds-icon-standard-assignment">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#assignment"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="slds-media__body">
                      <span class="slds-listbox__option-text slds-listbox__option-text_entity">Assignment</span>
                      <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Store values for later use in your flow</span>
                    </span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation" >
                  <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                    <span class="slds-media__figure slds-listbox__option-icon">
                      <span class="slds-icon_container slds-icon-standard-assignment">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#assignment"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="slds-media__body">
                      <span class="slds-listbox__option-text slds-listbox__option-text_entity">Assignment</span>
                      <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Store values for later use in your flow</span>
                    </span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation" >
                  <a role="menuitem" href="javascript:void(0);" aria-haspopup="true" aria-expanded="true" tabindex="0">
                    <span class="slds-media__figure slds-listbox__option-icon">
                      <span class="slds-icon_container slds-icon-standard-assignment">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#assignment"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="slds-media__body">
                      <span class="slds-listbox__option-text slds-listbox__option-text_entity">Assignment</span>
                      <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Store values for later use in your flow</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div><!-- //col -->
      <div class="slds-col slds-size_2-of-6"><p class="slds-text-heading_small slds-text-align_center">Element Menu</p> <br>
        <div class="slds-dropdown-trigger slds-dropdown-trigger_click c2c-menu" style="left:50%;">
          <button class="slds-button" aria-haspopup="true" title="Show More">
            <span class="slds-icon_container slds-icon-standard-screen"><svg class="slds-icon slds-icon--large" aria-hidden="true"><use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#screen"></use></svg></span>
            <span class="slds-assistive-text">Show More</span>
          </button>
          <div class="c2c-label slds-is-absolute" style="left: 114%; top: 0; width: 180px; ">
            <p>This is a screen element for user interactions</p>
            <p>Screen elmeent</p>
          </div>
          <div class="slds-dropdown">
            <div class="slds-dropdown__header" title="Menu Sub Heading" role="separator">
                <button class="slds-button slds-is-absolute slds-m-right_small" style="right:0;">Cancel</button>
              <div class="slds-m-top_x-large">
                <h3 class="slds-text-heading_small slds-truncate">Screen Element</h3>
                <p class="slds-text-body_regular slds-truncate">This is a screen element for user interactions</p>
              </div>
            </div>
            <ul class="slds-dropdown__divst" role="menu" aria-label="Show More">
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="0">
                  <span class="slds-truncate" title="Copy Element">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#copy"></use>
                    </svg>Copy Element</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="0">
                  <span class="slds-truncate" title="Delete Element">
                    <svg class="slds-icon slds-icon-text-error slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg>Delete Element</span>
                </a>
              </li>
            </ul>
            <div class="slds-p-around_small">
              <button class="slds-button slds-button_brand slds-button_stretch">Edit Details</button>
            </div>
          </div>
        </div>
      </div><!-- //col -->
    </div><!-- //grid -->
  </div><!-- //container -->
  
  <!-- <script src="/scripts/app.js"></script> -->
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

  <script type="text/javascript">
   
    $(function(){
      $(".slds-dropdown-trigger > button").on("click" , function(event){
        var menu = $(this).parent();
        if( menu.is(".c2c-open") ){
          menu.removeClass("c2c-open")
          setTimeout(function(){
            menu.removeClass("slds-is-open")
          },500)
        }else{
          menu.addClass("slds-is-open")
          setTimeout(function(){
            menu.addClass("c2c-open")    
          },10)
        }
      })
      event.stopPropagation();
    })
  </script>
</body>
</html>
