<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flowdal Cards
  </title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <script src="scripts/vendor/clamp.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <meta name="robots" content="noindex, nofollow" />
  <meta charset='utf-8'>
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--large">
    <h1 class="slds-text-heading--large">Flowdal Cards</h1>
    <p class="slds-text-body--regular slds-m-bottom--large">Card examples for Flow Builder template picker</p>
    <hr>
    <div class="slds-grid slds-gutters slds-wrap">
      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
          <article class="slds-card flowdal slds-m-bottom--medium">
              <div class="slds-card__header slds-grid">
                <header class="slds-media slds-has-flexi-truncate">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-custom-custom67" title="custom20">
                      <svg class="slds-icon slds-icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom20"></use>
                      </svg>
                      <span class="slds-assistive-text">custom20</span>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2 class="slds-card__header-title" style="line-height:1;">
                      <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Autolaunched">
                        <span>Task Automation</span>
                      </a>
                    </h2>
                    <p>Beginner | Flow Basics</p>
                  </div>
                </header>
              </div>
              <div class="slds-card__body slds-card__body_inner">
                <p class="clamp-me slds-text-body_regular slds-m-bottom_xx-small">Cream cappuccino, at macchiato wings half and half cinnamon ristretto. Aged, robusta arabica flavour lungo foam kopi-luwak. Cup, white, cultivar froth blue mountain cappuccino fair trade foam affogato in ristretto aged.</p>
                <p class="slds-text-body_regular slds-truncate">
                    Categories: &nbsp;<a href="javascript:void(0);">Category 1</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>
                </p>
              </div>
              <footer class="slds-p-around--medium slds-p-top--none" style="text-align:left;">
                  <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-small" title="Favorite">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#favorite"></use>
                    </svg>
                    <span class="slds-assistive-text">Favorite</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-small" title="Add">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                      </svg>
                      <span class="slds-assistive-text">Favorite</span>
                    </button>
              </footer>
            </article>
      </div>
      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
          <article class="slds-card flowdal slds-m-bottom--medium">
              <div class="slds-card__header slds-grid">
                <header class="slds-media slds-has-flexi-truncate">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-custom-custom67" title="custom20">
                      <svg class="slds-icon slds-icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom20"></use>
                      </svg>
                      <span class="slds-assistive-text">custom20</span>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2 class="slds-card__header-title" style="line-height:1;">
                      <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Autolaunched">
                        <span>Task Automation</span>
                      </a>
                    </h2>
                    <p>Beginner | Flow Basics</p>
                  </div>
                </header>
              </div>
              <div class="slds-card__body slds-card__body_inner">
                <p class="clamp-me slds-text-body_regular slds-m-bottom_xx-small">Cream cappuccino, at macchiato wings half and half cinnamon ristretto. Aged, robusta arabica flavour lungo foam kopi-luwak. Cup, white, cultivar froth blue mountain cappuccino fair trade foam affogato in ristretto aged.</p>
                <p class="slds-text-body_regular slds-truncate">
                    Categories: &nbsp;<a href="javascript:void(0);">Category 1</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>
                </p>
              </div>
              <footer class="slds-p-around--medium slds-p-top--none" style="text-align:left;">
                  <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-small" title="Favorite">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#favorite"></use>
                    </svg>
                    <span class="slds-assistive-text">Favorite</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-small" title="Add">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                      </svg>
                      <span class="slds-assistive-text">Favorite</span>
                    </button>
              </footer>
            </article>
      </div>
      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
          <article class="slds-card flowdal slds-m-bottom--medium">
              <div class="slds-card__header slds-grid">
                <header class="slds-media slds-has-flexi-truncate">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-custom-custom67" title="custom20">
                      <svg class="slds-icon slds-icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom20"></use>
                      </svg>
                      <span class="slds-assistive-text">custom20</span>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2 class="slds-card__header-title" style="line-height:1;">
                      <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Autolaunched">
                        <span>Task Automation</span>
                      </a>
                    </h2>
                    <p>Beginner | Flow Basics</p>
                  </div>
                </header>
              </div>
              <div class="slds-card__body slds-card__body_inner">
                <p class="clamp-me slds-text-body_regular slds-m-bottom_xx-small">Cream cappuccino, at macchiato wings half and half cinnamon ristretto. Aged, robusta arabica flavour lungo foam kopi-luwak. Cup, white, cultivar froth blue mountain cappuccino fair trade foam affogato in ristretto aged.</p>
                <p class="slds-text-body_regular slds-truncate">
                    Categories: &nbsp;<a href="javascript:void(0);">Category 1</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>
                </p>
              </div>
              <footer class="slds-p-around--medium slds-p-top--none" style="text-align:left;">
                  <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-small" title="Favorite">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#favorite"></use>
                    </svg>
                    <span class="slds-assistive-text">Favorite</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-small" title="Add">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                      </svg>
                      <span class="slds-assistive-text">Favorite</span>
                    </button>
              </footer>
            </article>
      </div>
    </div>
    <!-- //grid -->
  </div>
  
  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

  <script type="text/javascript">
   //var clamp_me = document.getElementById("clamp-me");
   var clamp_me = document.getElementsByClassName('clamp-me');
    $clamp(clamp_me[0], {clamp: 2});
    $clamp(clamp_me[1], {clamp: 2});
    $clamp(clamp_me[2], {clamp: 2});
    $(function(){
    })
  </script>
</body>
</html>
