<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flowdal Cards
  </title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <script src="scripts/vendor/clamp.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <meta name="robots" content="noindex, nofollow" />
  <meta charset='utf-8'>
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container_x-large">
    <h1 class="slds-text-heading--large">Flowdal Cards</h1>
    <p class="slds-text-body--regular slds-m-bottom--large">Card examples for Flow Builder template picker</p>
    <hr>
    <div class="slds-grid slds-gutters slds-wrap">
        {% for card in cards %}
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
            <article class="slds-card flowdal-card slds-m-bottom--medium">
                <div class="slds-card__header slds-grid">
                <header class="slds-media slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                    <span class="slds-icon_container {{ card.color }}" title="{{ card.icon }}">
                        <svg class="slds-icon slds-icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#{{ card.icon }}"></use>
                        </svg>
                        <span class="slds-assistive-text">{{ card.icon }}</span>
                    </span>
                    </div>
                    <div class="slds-media__body">
                    <h2 class="slds-card__header-title" style="line-height:1;">
                        <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Autolaunched">
                        <span>{{ card.name }}</span>
                        </a>
                    </h2>
                    <p>{{ card.type }}</p>
                    </div>
                </header>
                </div>
                <div class="slds-card__body slds-card__body_inner">
                <p class="clamp-me slds-text-body_regular slds-m-bottom_xx-small">Cream cappuccino, at macchiato wings half and half cinnamon ristretto. Aged, robusta arabica flavour lungo foam kopi-luwak. Cup, white, cultivar froth blue mountain cappuccino fair trade foam affogato in ristretto aged.</p>
                <p class="slds-text-body_regular slds-text-body_small slds-truncate"><span class="">Categories:</span> &nbsp;<a href="javascript:void(0);">Category 1</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>, <a href="javascript:void(0);">Category 2</a>
                </p>
                </div>
                <footer class="slds-p-around--medium slds-card__footer" style="text-align:left;">
                  <div class="slds-grid slds-grid_vertical-align-center">
                    <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon" title="Favorite">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#favorite"></use>
                    </svg>
                    <span class="slds-assistive-text">Favorite</span>
                    </button>
                    <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon" title="Add">
                        <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                        </svg>
                        <span class="slds-assistive-text">Select</span>
                    </button>
                    <div class="select-template slds-col_bump-left">
                        <button class="slds-button slds-button_neutral slds-button_dual-stateful" aria-live="assertive">
                          <span class="slds-text-not-pressed">
                            <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>Use Template</span>
                          <span class="slds-text-pressed">
                            <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>Use Template</span>
                        </button>
                    </div>
                  </div>
                </footer>
            </article>
        </div>
        {% endfor %}
    </div>
    <!-- //grid -->
    <br><br>
    <h1 class="slds-text-heading--large">Grid Demo</h1>
    <p class="slds-text-body--regular slds-m-bottom--large">Grid Demo for flow screens. Supporting medium breakpoint.</p>
    <hr>
    <div class="slds-grid slds-gutters slds-wrap sample-grid">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
          <div class="row-container slds-text-color_weak slds-text-body_small">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Input One</label>
              <div class="slds-form-element__control">
                <input type="text" id="text-input-id-1" placeholder="Placeholder Text" required="" class="slds-input" />
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Input Two</label>
              <div class="slds-form-element__control">
                <input type="text" id="text-input-id-1" placeholder="Placeholder Text" required="" class="slds-input" />
              </div>
            </div>
          </div>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
          <span class="row-container slds-text-color_weak slds-text-body_small">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Input Three</label>
              <div class="slds-form-element__control">
                <input type="text" id="text-input-id-1" placeholder="Placeholder Text" required="" class="slds-input" />
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Input Four</label>
              <div class="slds-form-element__control">
                <input type="text" id="text-input-id-1" placeholder="Placeholder Text" required="" class="slds-input" />
              </div>
            </div>

          </span>
        </div>
      </div>
    <div class="slds-grid slds-gutters slds-wrap sample-grid">
      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
        <div class="row-container slds-text-color_weak slds-text-body_small">1 of 3</div>
      </div>
      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
        <span class="row-container slds-text-color_weak slds-text-body_small">1 of 3</span>
      </div>
      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
          <span class="row-container slds-text-color_weak slds-text-body_small">1 of 3</span>
        </div>
    </div>
    <div class="slds-grid slds-gutters slds-wrap sample-grid">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4">
          <div class="row-container slds-text-color_weak slds-text-body_small">1 of 4</div>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4">
          <span class="row-container slds-text-color_weak slds-text-body_small">1 of 4</span>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4">
            <span class="row-container slds-text-color_weak slds-text-body_small">1 of 4</span>
          </div>
          <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4">
              <span class="row-container slds-text-color_weak slds-text-body_small">1 of 4</span>
            </div>
      </div>
  <!-- //container -->
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

  <script type="text/javascript">
   //var clamp_me = document.getElementById("clamp-me");
   var clamp_me = document.getElementsByClassName('clamp-me');
    $clamp(clamp_me[0], {clamp: 2});
    $clamp(clamp_me[1], {clamp: 2});
    $clamp(clamp_me[2], {clamp: 2});
    $clamp(clamp_me[3], {clamp: 2});
    $(function(){
      var card = $(".flowdal-card");
      var statefulButton = card.find(".select-template > button");
      statefulButton.on("click" , function(){
        var cardBtn = $(this);
        var siblings = cardBtn.parents(".slds-col").siblings().children(".flowdal-card");

        //add selected class to card
        cardBtn.parents(".flowdal-card").toggleClass("slds-selected");
        //remove selected card class from siblings
        siblings.removeClass("slds-selected");
        //Updated selected classes to button
        siblings.find(statefulButton).removeClass("slds-is-pressed");
        cardBtn.toggleClass("slds-is-pressed");
      })
    })
  </script>
</body>
</html>
