<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flow elements Two Line Labels</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--medium">
    <h1 class="slds-text-heading--large">Flow elements Two Line Labels</h1>
    <p class="slds-text-body--regular slds-m-bottom--large">Different Flow element 2 line label explorations</p>
    <div class="slds-grid slds-gutters">
      <div class="slds-col slds-size_3-of-4">
        <h2 class="slds-text-heading--medium slds-p-bottom_x-small slds-border_bottom">Today</h2>
        <br>
        <p class="slds-text-heading_small">Text label is above the element label. Element label is set to a max width of 132px resulting in text truncation very often.</a></p>
      </div>
      <div class="slds-col slds-size_1-of-4 slds-is-relative ">
        <div class="flow-element">
          <div class="icon-container">
            <button class="slds-icon_container slds-icon-standard-waits" title='Assignment element, "Order some pizza then notify customer". To delete, press the Delete key.'>
              <svg class="slds-icon slds-icon_large" aria-hidden="true">
                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#assignment"></use>
              </svg>
              <span class="slds-assistive-text">Description of icon when needed</span>
            </button>
            <button class="end-point"></button>
          </div>
          <div class="text-container slds-m-top_x-small" style="max-width:160px;">
            <div class="text-label slds-text-body_regular slds-truncate">Order some pizza then notify customer</div>
            <div class="text-element-type slds-text-body_regular slds-text-align_center">Assignment</div>
          </div>
        </div> <!-- flow element -->
      </div><!-- SLDS Col -->
    </div> <!-- SLDS Grid -->
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
