<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--large">
    <h1 class="slds-text-heading--large">
      Welcome to the Design System Starter Kit
    </h1>
    <p class="slds-text-body--regular slds-m-vertical--large">A rapid prototyping environment using the <a href="https://www.lightningdesignsystem.com">Lightning Design System</a>, brought to you by <a href="https://twitter.com/SalesforceUX">Salesforce UX</a>.</p>

    <img src="/assets/img-efficiency.svg" alt="" />

    <h2 class="slds-text-heading--medium slds-m-top--large">Get Started</h2>
    <p class="slds-text-body--regular slds-m-top--large">Edit files in the <a href="https://github.com/salesforce-ux/design-system-starter-kit/tree/master/src"><code>src</code> directory</a> to start building your prototype.</p>
    <p class="slds-text-body--regular slds-m-top--large">Lightning Design System component documentation and markup available at: <a href="https://www.lightningdesignsystem.com">https://www.lightningdesignsystem.com</a>.</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Demo Files</h2>

    <p>
      <a href="/popovers.html" class="slds-button slds-button--brand slds-m-around_xx-small">Popovers</a>
      <a href="/flow-two-line-clamp.html" class="slds-button slds-button--brand slds-m-around_xx-small">Flow line Clamp</a>
      <a href="/flow_header.html" class="slds-button slds-button--brand slds-m-around_xx-small">Flow Header</a>
      <a href="/cb_header.html" class="slds-button slds-button--brand slds-m-around_xx-small">CB Header Demo</a>
      <a href="/prog_check.html" class="slds-button slds-button--brand slds-m-around_xx-small">Progressive Checkbox</a>
      <a href="/left_panel.html" class="slds-button slds-button--brand slds-m-around_xx-small">Resource Panel</a>
      <a href="/badge_menu.html" class="slds-button slds-button--brand slds-m-around_xx-small">Badge as menu</a>
      <a href="/no-preview.html" class="slds-button slds-button--brand slds-m-around_xx-small">Screen no Preview</a>
      <a href="/c2cmenu.html" class="slds-button slds-button--brand slds-m-around_xx-small">Click to Create Menu</a>
      <a href="selcted_focus.html" class="slds-button slds-button--brand slds-m-around_xx-small">Element States</a>
      
    </p>
    <hr />


  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
