<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>No Preview Screens</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <script src="scripts/vendor/clamp.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <meta name="robots" content="noindex, nofollow" />
  <meta charset='utf-8'>
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
  <style>
    .slds-grid .slds-col{
      box-shadow: 0 0 0 1px gray;
    }
  </style>
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--small">
    <h1 class="slds-text-heading--large">No Preview</h1>
    <p class="slds-text-heading--small slds-m-bottom--large">Explorations with sizing for no preview fields in flow screens </p>
    <hr>
    <div class="slds-grid slds-gutters">
      <div class="slds-col slds-size_1-of-12">
        {% include "_no_preview.html" %}
      </div>
      <div class="slds-col slds-size_2-of-12">
        {% include "_no_preview.html" %}
      </div>
      <div class="slds-col slds-size_3-of-12">
        {% include "_no_preview.html" %}
      </div>
      <div class="slds-col slds-size_6-of-12">
        {% include "_no_preview.html" %}
      </div>
  </div>
    <!-- //grid -->

  </div>


  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

  <script type="text/javascript">
    $(function(){
      $("button.slds-badge").on("click" , function(){
        $(this).parent().toggleClass("slds-is-open");
      });
    })
  </script>
</body>
</html>
